Makefile
*.gmo
*.mo
*.o
.*
!.gitignore
Makefile.in
configure
config.*

aclocal.m4
compile
depcomp
install-sh
m4/gettext.m4
m4/iconv.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/nls.m4
m4/po.m4
m4/progtest.m4
missing
po/Makefile.in.in
po/Makevars
po/POTFILES.in
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
tilda-config.h.in
ylwrap
autom4te.cache/
*~
