Makefile
*.gmo
*.mo
*.o
.*
!.gitignore
Makefile.in
configure
config.*

aclocal.m4
compile
depcomp
install-sh
m4/
missing
po/Makefile.in.in
po/Makevars
po/POTFILES.in
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
*.in
ylwrap
autom4te.cache/
*~
tilda-config.h
ltmain.sh
*.desktop
stamp-h1
ChangeLog
po/
!po/*.po
ABOUT-NLS
src/tilda
